/*This section contains CSS for all html files*/

.navlinks a {
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-right: 1px solid #777777;
}


.navlinks {
    position: absolute;
    bottom: 50%;
    right: 10px;

}

a:hover {
    background-color: teal;
    color: white;
}

a:active {
    background-color: grey
}

html {
     background-image: url("../images/stardust.png")
 }

header .topnav {
    width: 960px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 0px;
    position: relative;
    border-bottom: 2px solid #cccccc;

 }

h1 {
    background-color: teal;
    height: auto;
    width: 260px;
    padding: 40px;
    margin: 0px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 25px;
    
}

html, body {
    height: 100%;
    margin: 0;
}

.content {
    padding: 20px;
    min-height: 100%;
    margin: 0 auto -50px;
}

.footer,
.push {
    height: 50px;
}
* {
    box-sizing: border-box;
}

body {
    font: 16px Sans-Serif;
  }

h3 {
    margin: 0 0 20px 0;
  }

p2 {
    margin: 20px 0 0 0;
  }

footer {
    background: #777777;
    color: white;
    line-height: 50px;
    padding: 0 20px;
    position: fixed;
    bottom: 0%;
    border-top: 5px solid teal;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
  }

/*This section contains CSS for index.html*/

 #aboutme {
     background-color: #ffffff;
     height: 500px;
     width: 960px;
     align-content: center;
     margin-left: auto;
     margin-right: auto;
     margin-top: 50px;
     border: 10px;
     border-color: 2px solid #dddddd;
 }

img {
     float: left;
     margin: 20px;
 }
 
 h2 {
     padding: 20px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     border-bottom: 3px solid #777777;
     margin: 20px;
     text-align: left;
     color: teal;
 }

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    margin: 20px;
    margin-top: 40px;
    line-height: 30px;
}


/*This section contains CSS for portfolio.html*/

#inline-block {
    display: inline-block;
    align-content: center;
}

 #inline-block2 {
    display: inline-block;
    align-content: center;
 }

.img1 {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    position:relative;
}

.img1:hover {
    -webkit-filter: grayscale(100%);
}

.text-block1 {
    position: absolute;
    background-color: teal;
    color: white;
    height: 70px;
    width: 320px;
    top: 180px;
    right: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 25px;

}

.text-block2 {
    position: absolute;
    background-color: teal;
    color: white;
    height: 70px;
    width: 320px;
    top: 180px;
    right: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 25px;
}

.text-block3 {
    position: absolute;
    background-color: teal;
    color: white;
    height: 70px;
    width: 320px;
    top: 180px;
    right: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 25px;
}

.text-block4 {
    position: absolute;
    background-color: teal;
    color: white;
    height: 70px;
    width: 320px;
    top: 180px;
    right: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 25px;
}

.img2 {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    position: relative;
}

.img2:hover {
    -webkit-filter: grayscale(100%);
}

 #content {
    background-color: #ffffff;
    height: 120%;
    width: 960px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 10px;
    border-color: 2px solid #dddddd;
 }

 .img3 {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    position: relative;
}

.img3:hover {
    -webkit-filter: grayscale(100%);
}

.img4 {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    position: relative;
}

.img4:hover {
    -webkit-filter: grayscale(100%);
}


/*This section contains CSS for contact.html*/
#contact {
    background-color: #ffffff;
    height: 980px;
    width: 960px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 10px;
    border-color: 2px solid #dddddd;
 }

 input[type=text], select, textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
}

input[type=submit] {
    background-color: teal;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: grey;
}

.container {
    border-radius: 5px;
    padding: 20px;
}

@media screen and (max-width: 980px) {

 #aboutme {
    width: 66%;
}
 #content {
    width: 66%;
}
 #contact {
    width: 66%;
}
 header .topnav {
    width: 66%;
  }
}

@media screen and (max-width: 768px) {
 
 #aboutme {
     width: 80%;
 }
 #content {
     width: 80%;
 }
 #contact {
     width: 80%;
 }
 header .topnav {
     width: 80%;
  }
}

@media screen and (max-width: 640px) {
 #aboutme {
     width: 90%;
 }
 #content {
     width: 90%;
 }
 #contact {
     width: 90%;
 }
 header .topnav {
     width: 90%;
 }
}